# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Artefacts de build (a ne jamais committer, tres volumineux)
*.ipa
*.aab
*.apk
build-*.ipa
build-*.aab
__sync_test_*.txt

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env*.local
